/*
 Theme Name:  Twenty Seventeen Child
 Theme URI:     http://tommiemedia.com/twentyseventeen-child/
 Description:   Twenty Seventeen Child Theme
 Author:        Anne Kopas & John Keston
 Author URI:    http://tommiemedia.com
 Template:      twentyseventeen
 Version:       1.0.0
 License:       GNU General Public License v2 or later
 License URI:   http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:   twentyseventeen-child
 Tags:      one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');
@font-face {
    font-family: 'Socicon';
    src: url('fonts/Socicon.eot');
    src: url('fonts/Socicon.eot#iefix') format('embedded-opentype'), url('fonts/Socicon.woff2') format('woff2'), url('fonts/Socicon.ttf') format('truetype'), url('fonts/Socicon.woff') format('woff'), url('fonts/Socicon.svg#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    color: #5B148C;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    border-bottom: 0.0625rem solid #dfc4ff;
    -webkit-transition: border-color .15s ease-out, color .15s ease-out;
    transition: border-color .15s ease-out, color .15s ease-out;
    color: #9260cd;
}
.site-info {
    display: none !important;
    /*  gets rid of "proudly powered by wordpress"*/
}
a.menu-scroll-down {
    display: none !important;
    /*  gets rid of scroll down arrow on nav bar*/
}
.single-featured-image-header {
    display: none;
}
.wrap {
    max-width: none;
}
.wsingle {
    padding: 0 4em;
}
.wsingle #secondary.widget-area {
    width: 33.33% !important;
}
.cc-single {
    width: 66.67% !important;
    padding-right: 2em;
}
#maincontent.wrap {
    width: 100% !important;
}
#top-search {
    display: none;
}
h2.widget-title {
    color: #d8d8d8;
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: .34em;
    font-weight: normal;
}
#secondary.widget-area {
    /*  width: 25%;*/
    
    padding-left: 0.5em;
    width: 300px;
}
.tm-landing #secondary.widget-area {
    flex: 0 0 auto;
}
.prev.page-numbers,
.next.page-numbers {
    background-color: transparent;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
    background-color: transparent;
    color: #767676;
    border-bottom: 0px solid;
}
.pagination a:hover {
    border-bottom: none;
}
.site-content {
    padding-top: 0.5em;
}
#main-column {
    width: 100%;
    display: flex;
}
#central-content {
    width: auto;
}
.custom-header-media:before {
    height: 50vh !important;
    background: none !important;
}
#leaderboard {
    margin: .5em auto .5em auto;
    text-align: center;
}
.aligncenter {
    margin-left: 0;
}
.content-area {
    max-width: 82em;
    margin-left: auto;
    margin-right: auto;
}
/*---------------category archive page (archive.php)---------*/

.archive-page {
    display: flex;
    flex-direction: row;
}
.archive-body {
    width: 66.7%;
}
header.entry-header {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 2.25em;
    padding: 0 !important;
}
.archive .page-header h1.page-title {
    display: inline;
}
/*---------------typography---------*/

body {
    font-family: 'Lato', Verdana, sans-serif;
}
a:hover {
    text-decoration: underline;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #5B148C;
}
h1.entry-title {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1em !important;
    /*  headlines*/
}
.entry-title a:hover,
{
    text-decoration: none !important;
}
.entry-meta {
    font-family: 'Lato', Verdana, sans-serif;
}
.entry-meta a {
    color: #5B148C;
}
.entry-footer .cat-links a,
.entry-footer .tags-links a {
    color: #5B148C;
}
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:hover {
    text-decoration: underline;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #5B148C;
}
.entry-meta a:hover {
    text-decoration: underline;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #5B148C;
}
.nav-title {
    color: #5B148C;
}
a.url.fn.n {
    color: #5B148C;
    /*  byline link color*/
}
a.url.fn.n:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #5B148C;
}
.entry-content p {
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.25em;
    color: #666;
    padding-right: .75em;
    /*  post content*/
}
figcaption.wp-caption-text p {
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: 400i;
    /*  post photo caption*/
}
.wp-caption {
    width: 100% !important;
}
.wp-caption img {
    width: 100%;
}
/*---------------top navigation bar---------*/

.site-branding {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 0;
    position: relative;
}
#navigation-wrap.wrap {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 2em;
    width: 100%;
    max-width: none;
}
.navigation-top {
    background-color: #471176;
    padding-bottom: .2em;
    border-top: 0px solid !important;
    border-bottom: 0px solid;
}
.navigation-top a {
    font-family: "Lato", sans-serif;
    color: white;
}
.navigation-top a:hover {
    color: white;
    text-decoration: underline;
    border-bottom: 0 solid white;
}
nav#site-navigation.main-navigation {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline;
}
.main-navigation {
    width: 66.67%;
    margin: none;
    display: inline;
    text-transform: uppercase;
}
.menu-item {
    background-color: #471176;
}
.menu-item li a {
    font-family: "Lato", sans-serif;
    text-transform: uppercase !important;
}
.menu-item li a:hover {
    text-transform: uppercase !important;
    background-color: white !important;
    color: #5B148C !important;
}
.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
    text-decoration: underline;
    color: #b4b4b5;
}
.menu-toggle {
    color: #FFF;
    float: right;
}
.dropdown-toggle {
    color: white;
}
.main-navigation ul ul.toggled-on {
    padding: 0;
    text-indent: 0.75em;
}
.headericons {
    padding: .70em 4em .5em 0;
    width: 33.33%;
    color: white;
    text-align: right;
}
@keyframes slidenav {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 7em;
    }
}
.site-navigation-fixed {
    background-image: url(http://www.tommiemedia.com/wp-content/uploads/TM_LOGO3.png);
    background-size: 5.5em;
    background-repeat: no-repeat;
    background-position-x: 3em;
    background-position-y: center;
    padding-left: 7em;
    animation-name: slidenav;
    animation-duration: 500ms;
}
#homelink {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 6em;
    height: 51px;
    visibility: hidden;
}
#homelink a {
    display: block;
    position: absolute;
    top: 0;
    left: 2em;
    width: 8em;
    height: 51px;
}
#homelink a:hover {
    text-decoration: none;
}
/*---------------end top navigation bar---------*/
/*---------------social media icons------------*/

a.social {
    display: inline-block;
    text-align: right;
    font-size: 1.25em;
    line-height: 1.25em;
    text-decoration: none;
    margin: 0.2em 0 0 0.25em;
}
a.social,
a.socialfooter {
    font-family: Socicon;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
}
a.social:hover,
a.searchbutton:hover,
a.socialfooter:hover {
    color: #888888;
    text-decoration: none !important;
    border-bottom: 0 solid white;
}
a.socialfooter {
    font-size: 2em;
    text-decoration: none;
    padding: 0 0.75em 0 0;
    color: #FFFFFF;
    line-height: 1.75em;
    border-bottom: 0 solid white;
}
a.rssbutton {
    font-family: Socicon;
    content: attr(data-icon);
    font-size: 1em;
    text-decoration: none;
    float: right;
    margin-left: 5px;
    color: white;
    border-bottom: 0 solid white;
}
a.rssbutton2 {
    font-family: Socicon;
    content: attr(data-icon);
    font-size: 1em;
    text-decoration: none;
    margin-left: 5px;
    color: white;
}
.category_title_left a:hover,
.category_title_right a:hover {
    color: #888888;
}
/*---------------end social media icons------------*/
/*---------------featured news slideshow------------*/

.slideshow {
    width: 50%;
    float: left;
    padding-right: 0.5em;
}
.topvideo {
    align-self: center;
}
#video {
    width: 67%;
}
#video h2 {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
}
.flexslider,
.topvideo {
    width: 100%;
    border: none;
    height: 25.31vw;
}
.flexslider li {
    position: relative;
    height: 25.31vw;
    padding: 0;
}
.topvideo li {
    position: relative;
    height: 25.31vw;
    padding: 0;
}
.flexslider li img,
.topvideo li img {
    overflow: hidden;
    width: 100%;
}
.flex-caption {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: .75em;
    color: white;
    background-color: rgba(25, 25, 25, 0.75);
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0.25em;
    overflow: visible;
    width: 100%;
}
.flex-control-nav {
    text-align: right;
    position: static;
    color: #666;
    font-size: .75em;
    margin-top: .75em;
}
.flex-control-nav a {
    color: #666;
}
/*--------------------Featured Videos Top----------------------*/

.top-featured {
    width: 100%;
}
.top-featured h1 {
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    margin: .2em 0 .2em 0;
    font-size: 1.25em;
    color: #666;
    font-weight: 600;
}
.featuredvideo {
    float: right;
    width: 50%;
    padding-left: 0.5em;
}
.featuredvideo a {
    font-size: 1em;
    font-weight: bold;
    margin: .2em;
}
.featuredvideo a:hover {
    text-decoration: none;
}
.featuredvideo iframe {
    /*    width: 45vw;*/
    
    height: 25.31vw;
    margin: 0;
}
.mixlr iframe {
    height: auto;
}
/*--------------------New Postbox----------------------*/

.container {
    display: flex;
    flex-direction: row rtl;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Lato', Helvetica, sans-serif;
    position: relative;
}
.top_child {
    width: 33.3%;
    text-align: left;
    border-right: solid 1px #d8d8d8;
    padding: 0.5vh 0.5vw 1em 0.5vw;
}
.top_child p {
    margin: 0.1em 0.1em 0.1em 0;
    font-family: 'Lato', Helvetica, sans-serif;
    padding-bottom: 1em;
    font-size: 0.9em;
    line-height: 1.15em;
    color: #666;
}
.top_child img {
    margin-right: 0.5em;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.top_child .cropped_thumb {
    padding: 0.25em;
    margin-right: 0.25em;
    display: inline;
    float: left;
    width: 50%;
    overflow: hidden;
}
.more-link p {
    display: none;
}
.headline {
    align-self: flex-start;
    display: inline-block;
    height: 2.2em;
}
.headline h3 {
    font-family: 'Playfair Display', Georgia, serif;
    align-self: flex-start;
    font-size: 1.1em;
    line-height: 1.25em;
    font-weight: bold;
}
.headline h3 a {
    text-decoration: none;
    color: black;
}
.headline h3 a:hover {
    border-bottom: 0.0625rem solid black;
}
.time {
    color: #999;
    line-height: 1em;
    font-size: 0.7em;
    margin: 0.25em 0 .7em 0;
}
.category_title_left,
.category_title_right {
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    background-color: #471176;
    margin-bottom: .25em;
}
.category_title_left h2,
.category_title_right h2 {
    color: white;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
}
.category_title_left a {
    float: none;
}
.category_title_right a {
    float: none;
}
/*--------------------New Postbox----------------------*/
/*-------------------------- Footer -------------------------- */

#footerwrap.wrap {
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}
#tmfooter {
    background: #471176;
    padding: 4em;
    width: 100%;
    margin: 0 auto;
    font-size: .75em;
    position: absolute;
    z-index: 2;
    font-family: 'Lato', Helvetica, sans-serif;
    color: #FFFFFF;
}
#tmfooter a {
    color: #ddd;
}
#tmfooter a:hover {
    color: #888888;
    text-decoration: none;
}
#copyright {
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 1em;
    font-size: 1em;
    color: #FFFFFF;
}
#tmfooter h2 {
    color: #ddd;
    font-size: 1.5em;
    margin: 0em;
}
#tmfooter ul {
    list-style-type: none;
}
#tmfooter ul li {
    font-size: 1.25em;
}
.site-footer {
    width: 100%;
}
.flexcontainer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
}
.child {
    padding: 1em;
    width: 23%;
    text-align: left;
    order: 0;
}
.child1 {
    padding: 1em;
    width: 31%;
    text-align: left;
    order: 3;
}
.footerlogo {
    padding: none;
    margin: none;
    border-bottom: 0 solid white;
    float: left;
    height: 3.25em;
    width: 100%;
    background-image: url(http://www.tommiemedia.com/wp-content/uploads/tmlogofooter.png);
    background-size: 100%;
    background-position: -2vw;
    background-repeat: no-repeat;
}
.footerlogo a {
    display: block;
    height: 100%;
    width: 100%;
}
.footerlogo a:hover {
    border-bottom: 0 solid white;
}
/*-------------------end footer-------------------*/
/*-------------------search form-----------*/

button.search-submit {
    background-color: #471176;
}
/*-------------------static pages-----------*/

.static-page-title {
    float: none !important;
    width: 100% !important;
}
.static-page-title h1 {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1em !important;
}
.static-page-content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
}
.entry-content {
    margin-right: 0 !important;
}
body.page:not(.twentyseventeen-front-page) .entry-title {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1em !important;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.05em;
}
/*-------------------tabber tabs widget-----------*/

.tabbernav li a {
    border-bottom: 0 !important;
}
.widget ul li {
    border: none !important;
}
.widget ul li a {
    border: none !important;
}
.widget ul li a:hover {
    color: #5B148C !important;
    text-decoration: none !important;
    border-bottom: 0.0625rem solid #dfc4ff !important;
    -webkit-transition: border-color .15s ease-out, color .15s ease-out !important;
    transition: border-color .15s ease-out, color .15s ease-out !important;
}
.wdiget a:hover a:active {
    color: #471176 !important;
}
.style2 ul.tabbernav {
    background-color: #471176 !important;
}
.style2 ul.tabbernav li a {
    padding: none !important;
    background: none !important;
    text-decoration: none !important;
    color: white !important;
    font-family: 'Lato', sans-serif !important;
}
.style2 ul.tabbernav li.tabberactive a {
    border: 0px solid white !important;
}
.style2 ul.tabbernav li a:hover {
    color: white !important;
    border: 0px solid !important;
    border-bottom: 0px solid white !important;
    text-decoration: none !important;
}
.style2.tabberlive .tabbertab {
    border: none !important;
}
/*----------------end tabber tabs--------*/

.post-thumbnail a img {
    margin: 0 0.5em 1em 0;
    width: 100%;
    float: left;
}
.post-thumbnail {
    height: 12vw;
    overflow: hidden;
    width: 25%;
    float: left;
    padding-right: 1em;
}
/*----------------media queries--------------*/

@media screen and (max-width: 48em) {
    nav#site-navigation.main-navigation {
        float: none;
    }
    .custom-header {
        height: 30vh !important;
    }
    .container {
        display: block;
        width: 100%;
    }
    .top_child {
        width: 100% !important;
        border-right: none;
    }
    .top_child img {
        width: 100%;
        padding: 1em;
        height: 55vw;
    }
    #central-content {
        float: none;
        display: block;
        width: 100%;
    }
    #secondary.widget-area {
        margin-top: 1em;
        margin-left: 3em;
    }
    .child {
        padding: 1em;
        width: 50%;
        text-align: left;
    }
    .child1 {
        padding: 1em;
        width: 50%;
        text-align: left;
        /*  order: 3;*/
    }
    #tmfooter {
        padding: 1em;
    }
    .post-thumbnail a img {
        height: 25vh;
    }
}
@media screen and (max-width: 52em) {
    .archive-body {
        width: 100%;
    }
}
@media screen and (max-width: 773px) {
    ul#top-menu.menu {
        padding: 0;
    }
    .main-navigation li {
        border-bottom: none;
    }
    ul.toggled-on {
        padding: 0;
    }
}
@media screen and (max-width: 960px) {
    #main-column {
        display: block;
    }
    #central-content {
        float: none;
    }
    .cc-single {
        width: 100% !important;
        padding-right: 0;
    }
    #secondary.widget-area {
        float: none;
        width: 100%;
    }
    .widget_search {
        display: none;
    }
    #top-search {
        display: block;
    }
    .two-column {
        border: none;
    }
    .archive-page {
        display: block;
    }
    .archive-body {
        width: 100%;
    }
    .wsingle {
        padding: 0 2em;
    }
}
@media screen and (max-width: 1280px) {
    .top_child {
        width: 50%;
    }
}
@media screen and (max-width: 60em) {
    .slideshow {
        width: 100%;
        margin: 0 0 4em 0.5em;
    }
    .flexslider li {
        height: 45vw;
    }
    .featuredvideo {
        width: 100%;
        margin-top: 1.5em;
    }
    .topvideo {
        width: 100%;
        height: 45vw;
    }
    .topvideo li {
        position: relative;
        height: 45vw;
        padding: 0;
    }
    .featuredvideo {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 45vw !important;
    }
    button.menu-toggle {
        text-align: left;
        margin: 0;
        padding-left: 2em;
        padding-right: 3em;
    }
}
@media screen and (max-width: 63em) {
    .headericons {
        display: none;
    }
    .main-navigation {
        width: 100%;
    }
}
/*@media screen and (min-width: 82em) {
  .flexslider li, .featuredvideo iframe {
    height: 350px;
    background-color: pink;
  }
}*/

@media screen and (min-width: 48em) {
    .has-sidebar:not(.error404) #primary {
        float: none;
        width: 100%;
    }
    .custom-header-media {
        height: 60vh !important;
    }
}